<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Resume</title>
</head>

<body>
    <div style="margin:10%;">


        <!-- main div start -->


        <table style=" width: 100%;">
            <tr>
                <td style="width: 65%;  text-align: left; justify-content: left;">
                    <h3><strong style="background-color:#A9A9A9;">{{firstName}} {{lastName}}</strong></h3>

                    <div style="margin-top: -10px;">
                        <p style="font-size:8px;">{{jobTitle}}</p>
                        <p style="font-size:8px;"><strong>Date Of Birth:</strong> Oct 1, 1996</p>
                        <p style="font-size:8px;"><strong>Nationality:</strong> Pakistani</p>
                        <p style="font-size:8px;"><strong>Gender:</strong> Male</p>
                    </div>


                </td>
                <td style="width:35%;text-align: right; justify-content:right;">
                    <p style="font-size:8px;"><strong>Current Address:</strong></p>
                    <p style="font-size:8px;">{{address}}</p>
                    <p style="font-size:8px;"><strong>Contact No:</strong>{{phone}}</p>
                    <p style="font-size:8px;"><strong>Email:</strong>{{email}}</p>

                </td>
            </tr>
        </table>

        <!-- header part end -->

        <!--objective part-->

        <table style="width:100%;">
            <tr>
                <td style="width:100%; text-align:left; justify-content:left;">
                    <h5><strong style="background-color:#A9A9A9;">OBJECTIVE:</strong></h5>
                    <p style="font-size:8.5px; margin-top: -10px;">To secure a position where I can efficiently
                        contribute my skills and atributes of architecture designing, development up to deployement and
                        after services for the growth of Organization Building my professional Career. </p>
                </td>

            </tr>
        </table>

        <!-- objective end-->

        <!--experience-->
        <div>
            <h5><strong style="background-color:#A9A9A9;">EXPERIENCE:</strong></h5>
            <table style="width:100%;margin-top:-20px;">

                {% for job in jobDetail %}
                <tr>
                    <td style="width:70%; text-align:left; justify-content:left;">
                        <p style="font-size:10px;"><strong>{{job.job_title}}</strong></p>
                        <p style="font-size: 8px; font-style: normal;">{{job.job_discription}}</p>
                        <p style="font-size: 8px;">{{job.job_Company}}</p>
                    </td>
                    <td style="width:30%; text-align:right; justify-content:right;">
                        <p style="font-size:8px;"><strong>( {{job.from_job_month}} - {{job.from_job_year}} _
                                {{job.to_job_month}} - {{job.to_job_year}} )</strong></p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>


        <!--education-->

        <div>
            <h5><strong style="background-color:#A9A9A9;">EDUCATION:</strong></h5>
            <table style="width:100%; margin-top: -20px;">
                {% for eduction in eductionDetail %}
                <tr>
                    <td style="width:70%; text-align:left; justify-content:left;">
                        <p style="font-size:10px;"><strong>{{eduction.fieldStudy}} {{eduction.level_education}}
                            </strong></h3>
                        </p>
                        <p style="font-size: 8px; font-style: normal;">{{eduction.orgName}}</p>
                        <p style="font-size: 8px;">{{eduction.detail}}</p>
                    </td>
                    <td style="width:30%; text-align:right; justify-content:right;">
                        <p style="font-size:8px"><strong>({{eduction.from_month}} - {{eduction.from_year}} _
                                {{eduction.to_month}} - {{eduction.to_year}})</strong></p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>


        <!-- certification--->
        <div>
            <h5><strong style="background-color: #A9A9A9;">Certifications</strong></h5>
            <table style="width:100%; margin-top: -10px;">
                <tr>
                    <td>

                        <p style="font-size:9px; margin-top: -5px;"><strong>Micro-Tech Certification</strong></p>

                    </td>
                </tr>
            </table>


        </div>

        <!--Projecrts-->
        <div>
            <h5><strong style="background-color:#A9A9A9;">PROJECTS:</strong></h5>
            <table style="width:100%;margin-top:-20px;">

                <tr style="">
                    <td style="width:100%; text-align:left; justify-content:left;">
                        <p style="font-size:10px;"><strong>Lead Generation Project</strong></h3>
                        </p>
                        <p style="font-size: 7px; font-style: normal;"><strong>Description:</strong>100+ Small
                            projects(lead generation websites)</p>
                        <p style="font-size: 8px;"><strong>Platform & Tool:</strong>React.js, Node.js, Express.js,
                            MangoDB</p>
                    </td>

                </tr>
            </table>

        </div>
        <!-- skills -->
        <div>
            <h5><strong style="background-color:#A9A9A9;">SKILLS:</strong></h5>
            <table style="width:100%;margin-top:-20px;">

                <tr style="">

                    <table style="width:100%;">
                        <tr>
                            <td style="width:30%;">
                                <p style="font-size:9px;"><strong>Web FrameWork:</strong></p>
                            </td>
                            <td style="width:70%;">

                                <p style="font-size:9px;">{% for skill in experienceWith %} {{skill}} &nbsp; &nbsp; |
                                    &nbsp; &nbsp;
                                    {% endfor %}</p>

                            </td>

                        </tr>
                    </table>
                </tr>
            </table>

        </div>
        <!-- skills -->
        <div>
            <h5><strong style="background-color:#A9A9A9;">ACHIVEMENTS:</strong></h5>
            <table style="width:100%;margin-top:-20px;">

                <tr style="">
                    <td style="width:100%;">
                        <ul style="font-size:9px;">
                            <li>Participated in Youth Program Coding Competition</li>
                            <li>Participated in Youth Program Gaming Competition</li>
                            <li>Programming Competition winner at University of Eduction</li>
                            <li>Runner up at University of Eduction Gaming Competition</li>
                        </ul>
                    </td>


                </tr>
            </table>
        </div>


        <!-- [Personal Developemment] -->
        <div>
            <h5><strong style="background-color:#A9A9A9;">PROFESSIONAL DEVELOPMENT:</strong></h5>
            <table style="width:100%;margin-top:-20px;">

                <tr style="">


                    <td style="width:30%;">
                        <ul style="font-size:9px;">
                            <li>Attended various seminars and training on professional Grooming</li>
                            <li>Android Development Workshop, University of Lahore, Lahore</li>
                            <li>Website Development Workshop, University of Lahore, Lahore</li>

                        </ul>
                    </td>

                </tr>
            </table>
        </div>



        <!-- [Personal Developemment] -->
        <div>
            <h5><strong style="background-color:#A9A9A9;">REFERENCES:</strong></h5>
            <table style="width:100%; margin-top:-20px;">

                <tr style="">

                    <p style="font-size:8px;">Reference will be provided on Request</p>
                </tr>
            </table>

        </div>


        <!-- main div end -->
    </div>
</body>

</html>